/* Document styling */
body {
	
	margin: 0 auto;
	
	font-size: 14px;
	line-height: 20px;
}
section {
	margin-bottom: 40px;
}
h1 {
	font-size: 40px;
	font-weight: 300;
	letter-spacing: -2px;
	margin: 1em 0 0.5em 0;
}
h2 {
	font-weight: 300;
}
a {
	color: #0088cc;
	text-decoration: none;
}
a:hover {
	color: #005580;
	text-decoration: underline;
}
#info {
	height: 20px;
}

footer {
	margin: 50px 0 30px 0;
}
footer p {
	font-size: 11px;
}

/* Round Radial Chart styles */

#chart {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
    text-align: center;
}
#chart path {
  fill: none;
}

/* layers */
#chart .layer-0 path {
  fill: steelblue;
}
/* hover für einzelen chart spalten */
#chart .layer-0 path:hover {
/*  fill: steelblue !important;*/
    opacity: 0.7;
}
#chart .layer-1 path {
  fill: white !important;
  opacity: 0.3;
  stroke-width: 2px;
  stroke: #999;
}

/* Outer circle, tick-circles and spokes */
#chart circle.outer {
  stroke: #aaa;
  stroke-dasharray: 4, 4;  
}
#chart .tick-circles circle {
  stroke: #ddd;
  stroke-dasharray: 2, 2;  
}
#chart .spokes line {
  stroke: #666;
  stroke-width: 0.2;
}

/* Axis */
#chart .axis text {
  font-size: 11px;
}
#chart .axis path {
  stroke: #999;
  shape-rendering: crispEdges;
}
#chart .axis line {
  stroke: #999;
  shape-rendering: crispEdges;
}

/* Labels */
#chart .labels text {
  fill: #333;
  font-size: 10px;
  font-weight: 500;
}

/* content */
.cont {
    width:100%;
    margin-left:5px;
}

/* autocmplete styles */

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {    
  width: inherit;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}
.tt-suggestion:hover {
   color: white;
   background-color: #DA4453;
   cursor: pointer;
}

.tt-suggestion p {
  margin: 0;
}

/* autocomplete feld */
.twitter-typeahead {
    width: 100% !important;   
}

/* search button */

.searchBtn {
 background-color: #434A54; 
 color:white;
}

.searchBtn:hover, .searchBtn:focus  {
/* background-color: #434A54; */
 color:#434A54;
}
/* progress / lade */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace.pace-inactive .pace-progress {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  height: 5rem;
  width: 5rem;

  -webkit-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.pace .pace-progress:after {
  display: block;
  position: absolute;
  top: 0;
  right: .5rem;
  content: attr(data-progress-text);
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 5rem;
  line-height: 1;
  text-align: right;
  color: white;
}